:root {
  --color1: #a0a603;
  --color2: #d9d8d7;
  --color3: #f27b35;
  --color4: #d93e30;
  --color5: #8c1414;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background-color: #f0e68c;
}
.down-container {
  background-color: #ff7f00;
  width: 350px;
  border-radius: 20px;
}
.main-container {
  display: grid;
  justify-content: space-between;
  align-items: center;
  grid-template-columns: auto auto;
  grid-template-columns: 150px 150px;
  padding: 1rem;
  gap: 0.5rem;
}
.reactlogo {
  width: 200px;
  text-align: center;
  margin: 1rem;
}
h2 {
  text-align: center;
  margin: 0.5rem;
  color: white;
}
.container {
  background-color: white;
  border-radius: 15px;
  padding: 0.5rem;
}
.container img {
  max-width: 75px;
  max-height: 75px;
}
.container p {
  font-size: 15px;
  text-align: left;
  list-style-position: inside;
  width: auto;
  height: 100px;
  margin: auto;
}
.container:hover {
  box-shadow: 0 0 8px var(--color5);
  box-shadow: 0 0 8px var(--color5);
}
.container:hover img {
  transform: scale(1.2);
  transition: all 0.5s ease;
}
